html 
{
	background:white;  
}

body
{
	width:745px;
	height:400px;
	margin: auto;
	background:url(img/brillant.png) repeat center top; 
}

header
{ 	
        margin: auto;
	width:745px;
	height:200px;
	margin-bottom:15px;
        color:black;
}

.question
{
    font-family:verdana, sans-serif;
    text-align:center;
    text-decoration:none;
    font-weight:bold;
    font-size:120%;
}
section
{
	width:404px;
	height:400px;
	margin:auto;
	margin-top:50px;
	border-radius: 200px 200px;
	background:url(img/logo.png)center no-repeat;
}

.carre
{
	width:200px;
	height:200px;
	font-family:verdana, sans-serif;
	text-align:center;
	text-decoration:none;
	font-weight:bold;
	font-size:90%;
	color:black; 
}

#carre1
{	
	float:left;
	border-left: 2px solid black;
	border-top-left-radius: 200px 200px;
}

#carre1:hover
{
	background:#ADD8E6;
	float:left;
	border-left: 2px solid blue;
	border-top-left-radius: 200px 200px;
}

#carre2
{
	float:right;
	border-right: 2px solid black;
	border-top-right-radius: 200px 200px;
}

#carre2:hover
{
	background: lightgreen;
	float:right;
	border-right: 2px solid green;
	border-top-right-radius: 200px 200px;
}

#carre3
{
	float:left;
	border-left: 2px solid black;
	border-bottom-left-radius: 200px 200px;
}

#carre3:hover
{
	background:#FFB6C1;
	float:left;
	border-left: 2px solid 	#FF69B4;
	border-bottom-left-radius: 200px 200px;
}

#carre4
{
	float:right;
	border-right: 2px solid black;	
	border-bottom-right-radius: 200px 200px;
}

#carre4:hover
{
	background:#FF7F50;
	float:right;
	border-right: 2px solid #FF4500;	
	border-bottom-right-radius: 200px 200px;
}

a, a:hover 
{
  text-decoration: none;
}

/* Menubarre */

#menubarre /* Liste */	
{
	padding : 0; /* pas de marge intérieure */
	margin-bottom:15px; /* marge inférieur */
	list-style : none; /* on supprime le style par défault de la liste */
	line-height : 21px; /* on défini une hauteur pour chaque élément */
	text-align : center; /* on centre le texte qui se trouve dans la liste */
}

#menubarre /* Ensemble du menu */
{
	font-weight : bold; /* on met le texte en gras */
	font-family : Arial; /* on utilise Arial c'est plus beau ^^ */
	font-size : 12px; /* hauteur du texte : 12 pixels */
}

#menubarre a /* Contenu des listes */
{
	display:block; /* on change le type d'élément, les liens deviennent des balises de type block */
	padding:0; /* aucune marge intérieure */
	background:yellow; /* couleur de fond */	
	color :black; /* couleur du texte */
	text-decoration : none; /* on supprime le style par défault des liens (la pluspart du temps = souligné) */
	width : 148px; /* largeur */
}

#menubarre a:hover /* Contenu des listes */
{
	display:block; /* on change le type d'élément, les liens deviennent des balises de type block */
	padding:0; /* aucune marge intérieure */
	background:black; /* couleur de fond */	
	color :yellow; /* couleur du texte */
	text-decoration : none; /* on supprime le style par défault des liens (la pluspart du temps = souligné) */
	width : 148px; /* largeur */
}

#menubarre li /* Elements des listes */	
{ 
	float : left; 
	/* pour ie qui ne reconnait pas "transparent" */
	border-right : 1px solid #fff; /* on met une bordure blanche à droite de chaque élément */
}


/* Système blog */

h1, h3
{
    text-align:center;
}
h3
{
    background-color:black;
    color:yellow;
    font-size:0.9em;
    margin-bottom:0px;
}
.news p
{
    background-color: white;
    margin-top:10px;
}
.news
{
    width:70%;
    margin:auto;
}
 