/* Pour la d�monstration */
html 
{
	background-color:whitesmoke;  
}

body
{

	background-color:whitesmoke;  
	color: #FFFFFF;
	margin: auto;
	text-align: center;
	width: 747px;
	font-family: Arial;
	font-size: 12px;
}

div
{
	padding: 0px;
	padding-bottom:0px;
	overflow:hidden;
	margin-right: 1px;
	margin-left: 1px;
	margin-bottom: 0px;
	margin-top: 0px;
}

section
{
	background-color: #F5F5F5;
}

#img1
{
	background-color: #F5F5F5;
	width: 747px;
	margin-top: 0;
	text-align: center;
}

#titlearticle1
{
	float: left;
	width: 500px;
	text-align: justify;
	color: black;
	background-color: #F5F5F5;
	padding: 5px;
	font-family: Verdana;
	font-size: 16px;
}

h1
{
	font-family: verdana;
	font-size: 18px;
	color: red;
}

#colonnedroite
{
	margin-right: 25px;
	float: right;
	width: 170px;
	height: 500px;
}

footer
{
	width: 747px;
	float: center;
}

.centre
{
	text-align: center;
}


/* Menu */

#menu, #menu ul /* Liste */	
{
	padding : 0; /* pas de marge int�rieure */
	margin : 0; /* ni ext�rieure */
	list-style : none; /* on supprime le style par d�fault de la liste */
	line-height : 21px; /* on d�fini une hauteur pour chaque �l�ment */
	text-align : center; /* on centre le texte qui se trouve dans la liste */
}

#menu /* Ensemble du menu */
{
	font-weight : bold; /* on met le texte en gras */
	font-family : Arial; /* on utilise Arial c'est plus beau ^^ */
	font-size : 12px; /* hauteur du texte : 12 pixels */
}

#menu a /* Contenu des listes */
{
	display	: block; /* on change le type d'�l�ment, les liens deviennent des balises de type block */
	padding	: 0; /* aucune marge int�rieure */
	background : yellow; /* couleur de fond */	
	color : black; /* couleur du texte */
	text-decoration : none; /* on supprime le style par d�fault des liens (la pluspart du temps = soulign�) */
	width : 148px; /* largeur */
}

#menu li /* Elements des listes */	
{ 
	float : left; 
	/* pour ie qui ne reconnait pas "transparent" */
	border-right : 1px solid #fff; /* on met une bordure blanche � droite de chaque �l�ment */
}

/* ie ne reconnaissant pas le s�lecteur ">" */
html>body #menu li
{
	border-right: 1px solid transparent ; /* on met une bordure transparante � droite de chaque �l�ment */
}

#menu li ul /* Sous-listes */
{ 
	position: absolute; /* Position absolu */
	width: 148px; /* Largeur des sous-listes */
	left: -999em; /* Hop, on envoi loin du champ de vision */
}


#menu li ul li /* El�ments de sous-listes */
{
	/* pour ie qui ne reconnait pas "transparent" (comme pr�c�dement) */
	border-top : 1px solid #fff; /* on met une bordure blanche en haut de chaque �l�ment d'une sous liste */
}

/* ie ne reconnaissant pas le s�lecteur ">" */
html>body #menu li ul li		
{
	border-top : 1px solid transparent; /* on met une bordure transparante en haut de chaque �l�ment */
}

#menu li ul ul 
{
	margin		: -22px 0 0 148px ; /* On d�cale les sous-sous-listes qu'elles ne soient pas au dessus des sous-listes */	
	/* pour ie qui ne reconnait pas "transparent" (comme pr�c�dement) */
	border-left	: 1px solid #fff ; /* Petite bordure � gauche pour ne pas coller ... */	
}

/* ie ne reconnaissant pas le s�lecteur ">" ... je me r�p�te ;-) */
html>body #menu li ul ul		
{
	border-left	: 1px solid transparent ; /* on met une bordure transparante sur la gauche de chaque �l�ment */
}

#menu a:hover, #menu li ul a:hover /* Lorsque la souris passe sur un des liens */	
{
	color: #000000; /* On passe le texte en noir ... */
	background: #FFD700; /* ... et au contraire, le fond en blanc */
}

#menu li:hover ul ul, #menu li.sfhover ul ul /* Sous-sous-listes lorsque la souris passe sur un �l�ment de liste */
{
	left: -999em; /* On exp�die les sous-sous-listes hors du champ de vision */
}

#menu li:hover ul, #menu li li:hover ul, #menu li.sfhover ul, #menu li li.sfhover ul  /* Sous-listes lorsque la souris passe sur un �l�ment de liste ET sous-sous-lites lorsque la souris passe sur un �l�ment de sous-liste */
{
	left: auto; /* Repositionnement normal */
	min-height: 0; /* Corrige un bug */
}


a
{
	text-decoration: none;
	color: #ae0000;
}

a:hover
{
	font-weight: bold;
}

